@import 'tailwindcss';

@theme {
    --color-primary-pink: #F4378A;
    --color-pink-1: #F772AD;
    --color-pink-2: #FAA9CD;
    --color-pink-3: #FCC9E0;
    --color-white: #FFFFFF;
    --color-peach: #F7828F;
    --color-yellow: #F9E098;
    --color-black: #181818;
}