@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary-pink: #f4378a;
  --color-pink-1: #f772ad;
  --color-pink-2: #faa9cd;
  --color-pink-3: #fcc9e0;
  --color-white: #ffffff;
  --color-peach: #f7828f;
  --color-yellow: #f9e098;
  --color-black: #181818;
}
